{% load static %}
{% include "head.html" %}
<body>
    <!--Header-->
    {% include "header.html" %}

    <!--Content-->
    <div class="content">

        <!--Main Content-->
        <div class="content-main">

            <div id="Basic"></div>

        </div><!--End of Main Content-->

    </div><!--End of Content-->

    <script>
        window.react_mount = document.getElementById('Basic');
        gallery_slug = '{{slug}}';
        is_logged = true;
    </script>
    <script src="{% static 'react/gallery.bundle.js' %}"></script>

</body><!--End of Body-->

</html><!--End of Document-->
